# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Terraform providers cache
.terraform/providers/

# Docker
*.dockerignore
docker-compose.override.yml

# Editor / OS files
*.swp
*.DS_Store
*.log
